	/* How We Help */

	.s-how-we-help {

		padding: 0 20px;
		background: rgb(245, 244, 243);
		border-bottom: 1px solid $color-gray-03;

		@media screen and (min-width: 360px) {

			padding: 0 40px;

		}

		@media screen and (min-width: 600px) {

			padding: 0 60px;

		}

		@media screen and (min-width: 900px) {

			padding: 0 80px;

		}

	}

		.s-how-we-help__inner-wrap {

			padding: 81px 0 104px 0;

			@media screen and (min-width: 1000px) {

				padding: 79px 0 99px 0;

			}

		}

			.c-how-we-help {

				width: 100%;
				max-width: 1020px;
				margin: 0 auto;

			}

				.c-how-we-help__header {

					margin: 0;
					@include font-size(32);
					line-height: (42/32);
					letter-spacing: 0.20px;
					text-align: center;
					color: $color-secondary-blue;

				}

				.c-how-we-help__picture {

					display: block;
					margin: 38px 0 0 0;

					@media screen and (min-width: 1000px) {

						margin: 68px 0 0 0;

					}

				}

					.c-how-we-help__image {

						margin: 0 auto;

					}

				.c-how-we-help__detail {

					margin: 42px 0 0 0;

					@media screen and (min-width: 1000px) {

						margin: 52px 0 0 0;

					}

					p {

						&:last-of-type {

							margin: 0;

						}

					}

				}
