	/* Single Release */

	.s-single-release {

		padding: 0 20px;

		@media screen and (min-width: 360px) {

			padding: 0 40px;

		}

		@media screen and (min-width: 600px) {

			padding: 0 60px;

		}

		@media screen and (min-width: 900px) {

			padding: 0 80px;

		}

	}

		.s-single-release__inner-wrap {

			padding: 178px 0 0 0;

		}

			.c-single-release {

				width: 100%;
				max-width: 1080px;
				margin: 0 auto;

			}

				.c-single-release__headline {

					margin: 0;
					@include font-size(64);
					line-height: (73/64);
					@include graphik-light;
					letter-spacing: 0.50px;
					text-align: center;
					color: $white;

				}

				.c-single-release__page {

					margin: 58px 0 0 0;
					padding: 79px 20px 58px 20px;
					background: $white;
					border-radius: 2px;

					@media screen and (min-width: 360px) {

						padding: 79px 30px 58px 30px;

					}

					@media screen and (min-width: 600px) {

						padding: 79px 90px 58px 90px;

					}

				}

					.c-single-release__article {}

						.c-single-release__article-header {

							margin: 0;
							@include font-size(24);
							line-height: (24/24);
							color: $color-secondary-blue;

						}

						.c-single-release__article-subhead {

							margin: ((4 / 18) + em) 0 0 0;
							@include font-size(18);
							line-height: (24/18);
							@include graphik-semibold;
							color: rgb(145, 148, 154);

						}

						.c-single-release__article-meta {

							margin: 37px 0 0 0;
							line-height: (16/18);
							@include graphik-medium;
							color: $color-secondary-blue;

						}

							.c-single-release__article-location {

								text-transform: uppercase;

							}

							.c-single-release__article-date {}

						.c-single-release__article-content {

							margin: 10px 0 0 0;
							color: $color-secondary-blue;

							p {

								@include font-size(18);
								line-height: (26/18);

								&:last-of-type {}

							}

								a {

									text-decoration: none;

								}

						}

						.c-single-release__about-upgrade {

							margin: 49px 0 0 0;

						}

							.c-single-release__about-upgrade-title {

								margin: 0;
								@include font-size(18);
								line-height: (16/18);
								color: $color-secondary-blue;

							}

							.c-single-release__about-upgrade-detail {

								margin: 9px 0 0 0;
								color: $color-secondary-blue;

								p {

									@include font-size(18);
									line-height: (26/18);

									&:last-of-type {

										margin: 0;

									}

								}

									a {

										text-decoration: none;

									}

							}

						.c-single-release__about-other {

							margin: 49px 0 0 0;

						}

							.c-single-release__about-other-title {

								margin: 0;
								@include font-size(18);
								line-height: (16/18);
								color: $color-secondary-blue;

							}

							.c-single-release__about-other-detail {

								margin: 9px 0 0 0;
								color: $color-secondary-blue;

								p {

									@include font-size(18);
									line-height: (26/18);

									&:last-of-type {

										margin: 0;

									}

								}

									a {

										text-decoration: none;

									}

							}

						.c-single-release__back {

							margin: ((19 / 16) + em) 0 0 0;
							@include font-size(16);
							line-height: (20/16);
							@include graphik-medium;

						}

							.c-single-release__back-link {

								position: relative;
								color: $color-secondary-blue;
								text-decoration: none;

								&:before {

									content: "";
									display: inline-block;
									width: 25px;
									height: 11px;
									margin: 0 11px 0 0;
									background: url(../img/back-to-arrow.svg);
									z-index: 1;

								}

								span {

									border-bottom: 1px solid $color-primary-blue;

								}

							}

						.c-single-release__media-inquiries {

							margin: 68px 0 0 0;

						}

							.c-single-release__media-inquiries-title {

								margin: 0;
								@include font-size(18);
								line-height: (24/18);
								color: $color-secondary-blue;

							}

							.c-single-release__media-inquiries-email {

								margin: ((4 / 18) + em) 0 0 0;
								color: rgb(138, 138, 141);

							}

								.c-single-release__media-inquiries-link {

									color: rgb(138, 138, 141);
									text-decoration: none;

								}
