/*--------------------------------------
	Section: Testimonial
--------------------------------------*/

// Notes...

.s-testimonial {

	padding: 0 20px;
	color: $color-secondary-blue;
	background: rgb(246, 248, 252);

	@media screen and (min-width: 360px) {

		padding: 0 40px;

	}

	@media screen and (min-width: 600px) {

		padding: 0 60px;

	}

	@media screen and (min-width: 900px) {

		padding: 0 80px;

	}

}

	.s-testimonial__inner-wrap {

		width: 100%;
		max-width: 700px;
		margin: 0 auto;
		padding: 82px 0 86px 0;

		@media screen and (min-width: 1000px) {

			padding: 82px 0 116px 0;

		}

	}

		.c-testimonial__header {

			margin: 0;

			@media screen and (min-width: 1000px) {

				@include font-size(32);
				line-height: (42/32);
				text-align: center;

			}

		}

		.c-testimonial__quote {

			margin: ((66 / 20) + em) 0 0 0;

			@media screen and (min-width: 1000px) {

				width: 100%;
				max-width: 700px;
				margin: ((61 / 20) + em) auto 0 auto;
				text-align: center;

			}

			p {

				&:last-of-type {

					margin: 0;

				}

			}

		}

			.c-testimonial__source {

				display: inline-block;
				margin: 42px 0 0 0;
				padding: 28px 0 0 0;
				border-top: 10px solid $color-secondary-green;

				@media screen and (min-width: 1000px) {

					margin: 66px 0 0 0;
					padding: 28px 30px 0 30px;

				}

			}

				.c-testimonial__name {}
