/*--------------------------------------
	Variables
--------------------------------------*/

// Notes...

/*--------------------------------------
	Color Scheme
--------------------------------------*/

// Notes...

// Base
// -------------------------------------

// Notes...

$black:	rgb(0, 0, 0); // #000000;
$white: rgb(255, 255, 255); // #ffffff;

// Gray Scale
// -------------------------------------

// Notes...

$color-gray-01: rgb(251, 251, 251); // #fbfbfb;
$color-gray-02: rgb(255, 244, 243); // #f5f4f3;
$color-gray-03: rgb(231, 229, 227); // #e7e5e3;
$color-gray-04: rgb(219, 216, 214); // #dbd8d6;
$color-gray-05: rgb(187, 187, 187); // #bbbbbb;
$color-gray-06: rgb(168, 168, 170); // #a8a8aa;
$color-gray-07: rgb(145, 158, 154); // #8a8a8d;
$color-gray-08: rgb(100, 101, 105); // #646569;
$color-gray-09: rgb(55, 56, 58); // #37383a;
$color-gray-10: rgb(15, 16, 16); // #of1010;

// Primary Colors
// -------------------------------------

// Notes...

$color-primary-green: rgb(0, 166, 105); // #00a669;
$color-primary-blue: rgb(107, 191, 255); // #6bbfff;
$color-primary-orange: rgb(249, 166, 44); // #f9a62c;

// Text Colors
// -------------------------------------

// Notes...

$color-secondary-green: rgb(33, 192, 125); // #21c07d;
$color-secondary-blue: rgb(63, 70, 94); // #3f465e;
$color-secondary-gray: rgb(55, 56, 58); // #37383a;
$color-secondary-red: rgb(212, 104, 117); // #d46875;

// Credit Health Grades
// -------------------------------------

// Notes...

$color-credit-health-a: rgb(0, 166, 105); // #00a669;
$color-credit-health-b: rgb(33, 192, 125); // #21c07d;
$color-credit-health-c: rgb(96, 199, 161); // #60c7a1;
$color-credit-health-d: rgb(151, 212, 187); // #97d4bb;
$color-credit-health-e: rgb(202, 208, 213); // #cadod5;
